@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./animations.css";
@import "tailwindcss";

@theme {
	--font-mono: "Space Mono", monospace;

	--color-text-main: #f1f1f1;
	--color-text-muted: #9ca3af;

	--color-main: #0d1f13;
	--color-white: #f1f1f1;
	--color-btn-bg: #f5c518;
	--color-btn-text: #0d1f13;
	--color-btn-hover: #fdd835;

	--color-correct: #00b894;
	--color-misplaced: #f5c518;
	--color-incorrect: #e76f51;

	--shadow-deep:
		0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-inner-glow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.05);
}

body {
	font-family: "Space Mono", monospace;
	background-color: var(--color-main);
}

